name: Deploy Node.js App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'

    - name: Create .env file
      run: |
        cat << EOF > .env
        ${{ secrets.PROD_ENV_FILE }}
        EOF

    - run: npm ci
    - run: npm run build --if-present

    - name: Restart PM2
      run: |
        pm2 delete BackendApI || true
        pm2 start npm --name "BackendApI" -- start
