name: Deploy Node.js App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'

    - name: Create .env file
      run: |
        echo "${{ secrets.PROD_ENV_FILE }}" > .env

    - run: npm ci

    - run: npm run build --if-present

    - name: Reload PM2
      run: |
        pm2 reload BackendApI --update-env || pm2 start npm --name "BackendApI" -- start --update-env
